{% extends 'base.html.twig' %}

{% block title %}Profil de {{user.username}}{% endblock %}

{% block body %}
    <div class="slide profil">
        <div class="wrapper">
            <div class="username">
                <i class="fa-solid fa-user"></i>
                <h5>{{user.username}}</h5>
            </div>
            {% for label, messages in app.flashes %}
                <div class="container mt-3">
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="buttonsUser">
                <a href="{{path('account_profile_passwordUpdate')}}" class="buttonLeft">Modifier votre mot de passe</a>
                <a href="{{path('account_profile_userUpdate')}}">Modifier votre nom d'utilisateur</a>
            </div>
            {% if is_granted('ROLE_MEMBER') or is_granted('ROLE_ADMIN')%}
                <div class="buttonMember">
                        <a href="{{path('evaluation_create')}}">Évaluer le coach</a>
                </div>
            {% endif %}
            <div class="seances">
                <h6>Séances de sport :</h6>
                <div class="seancesContainer">
                    {% for seance in pagination.data %}
                    {% set date = seance.date %} {# Crée une nouvelle date avec la date et l'heure actuelles #}
                        <div class="seance">
                            <p>{{seance.name}}</p>
                            <p class="ligne">-</p>
                            <p>{{ date|date("d/m/Y") }}</p>
                            <a href="">Afficher</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="button">
                <a href="{{path('seance_create')}}" class="buttonAdd">Ajouter une séance</a>
            </div>
            {{pagination.display}}
        </div>
    </div>
{% endblock %}
