<header class="headerFront">
    <div>
        <a href="{{path('homepage')}}"><img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif"></a>
        <nav>
            <ul>
                <li>
                    <a href="{{path('homepage')}}">Menu</a>
                    <ul>
                        <li><a href="{{path('homepage')}}#home">Accueil</a></li>
                        <li><a href="{{path('homepage')}}#about">Présentation</a></li>
                        <li><a href="{{path('homepage')}}#services">Services</a></li>
                        <li><a href="{{path('homepage')}}#contact">Contact</a></li>
                    </ul>
                </li>
                <li><a href="{{path('blog')}}">Blog</a></li>
                {% if app.user %}
                    <li><a href="{{path('entrainement_index')}}">Entraînement</a></li>
                    <li><a href="{{path('forum_index')}}">Forum</a></li>
                {% endif %}
                
                <li>
                    <i class="fa-solid fa-user" id="iconUser"></i>
                    <ul>
                        {% if app.user %}
                            <li><a href="{{path('account_profil')}}">Profil</a></li>
                            <li><a href="{{path('account_logout')}}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{path('account_login')}}">Connexion</a></li>
                            <li><a href="{{path('account_register')}}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <div id="burger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</header>
<div class="slide" id="menu">
    <a href="{{path('homepage')}}#home">Accueil</a>
    <a href="{{path('homepage')}}#about">Présentation</a>
    <a href="{{path('homepage')}}#services">Services</a>
    <a href="{{path('homepage')}}#contact">Contact</a>
    <a href="{{path('blog')}}">Blog</a>
    {% if app.user %}
        <a href="{{path('entrainement_index')}}">Entraînement</a>
        <a href="{{path('forum_index')}}">Forum</a>
        <a href="{{path('account_profil')}}">Profil</a>
        <a href="{{path('account_logout')}}">Déconnexion</a>
    {% else %}
        <a href="{{path('account_login')}}">Connexion</a>
        <a href="{{path('account_register')}}">Inscription</a>
    {% endif %} 
</div>
