{% extends 'base.html.twig' %}

{% block title %}Évaluations de {{user.username}}{% endblock %}

{% block body %}
    <div class="slide evaluations">
        <div class="wrapper">
            {% for label, messages in app.flashes %}
                <div class="container mt-3">
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <a href="{{path('account_profil')}}" class="backProfil">Retour au profil</a>
            <h2>Votre évaluation</h2>
            <div class="evaluations">
                {% for evaluation in evaluations %}
                    <div class="evaluation">
                        <div class="buttons mb-3">
                            <a href="{{path('evaluation_update',{'id':evaluation.id})}}" class="btn btn-warning"><i class="fas fa-pen"></i></a>
                            <div class="btn btn-danger deleteButtonUser"><i class="fas fa-trash"></i></div>
                        </div>
                        {% include "partials/rating.html.twig" with {'rating':evaluation.note} %}
                        <p>{{evaluation.avis}}</p>
                    </div>
                    {% include "partials/deleteAlert.html.twig" with {'type':'','title': " cette évaluation",'id':evaluation.id, 'route':'evaluation_delete'} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
