{% extends "base.html.twig" %}

{% block title %} Article n° {{article.id}}{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper">
            <h2 class="mt-5 mb-3">{{article.title}}</h2>
            <a href="{{path('admin_article_index')}}" class="btn btn-primary">Retour</a>
            <div class="d-flex justify-content-center w-100">
                <img src="/uploads/articles/{{article.image}}" alt="Image de {{article.title}}" class="w-50 my-3">
            </div>
            <div class="my-3">{{article.description | raw | nl2br}}</div>
        </div>
    </div>
{% endblock %}