{% extends "base.html.twig" %}

{% block title %} Article n° {{article.id}}{% endblock %}

{% block body %}
    {% include "partials/_scrollToTop.html.twig" %}
    <div class="slide blogShow">
        <div class="wrapper">
            <a href="{{path('blog')}}" class="backButton">Retour</a>
            <h2>{{article.title}}</h2>
            <div class="imageArticle">
                <img src="/uploads/articles/{{article.image}}" alt="Image de {{article.title}}">
            </div>
            <div class="descriptionArticle">{{article.description | raw | nl2br}}</div>
            <div class="showArticle">
                <a href="{{article.link}}">Voir la source</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Permet de remonter jusqu'en haut de la page
        const scrollTop = document.querySelector('.scrollTop')

        scrollTop.addEventListener('click',()=>{
            window.scrollTo({
                top:0,
                left:0,
                behavior: "smooth"
            })
        })
    </script>
{% endblock %}