{% extends "base.html.twig" %}

{% block title %}Sujet : {{sujet.title}}{% endblock %}

{% form_theme formCommentaire "form/_formField.html.twig" %}
{% set date = sujet.date %}

{% block body %}
    {% if app.user == sujet.user%}
        {% include "partials/deleteAlert.html.twig" with {'type':'','title': "Votre sujet " ~ sujet.title,'id':sujet.id, 'route':'forum_delete'} %}
    {% endif %}
    {% include "partials/_scrollToTop.html.twig" %}
    <div class="slide sujetShow">
        <div class="wrapper">
            <a href="{{path('forum_index')}}" class='backButton'>Retour</a>
            <div class="sujetHeader">
                 <h2>{{sujet.title}}</h2>
                 <div class="buttons">
                    {% if app.user == sujet.user %}
                        <a href="{{path('forum_update',{'id':sujet.id})}}">Modifier</a>
                    {% endif %}
                     {% if is_granted('ROLE_ADMIN') or app.user == sujet.user %}
                        <div class="buttonDelete deleteButtonUser">Supprimer</div>
                    {% endif %}
                 </div>
            </div>
            {% for label, messages in app.flashes %}
                <div class="container mt-3 p-0">
                    <div class="alert alert-{{label}}">
                        {% for message in messages %}
                            <p>{{ message | raw }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="sujetBody">
                <h3>{{sujet.user.username}} - {{date | date('d/m/Y à H:i:s')}}</h3>
                {% if sujet.image %}
                    <img src="/uploads/forum/{{sujet.image}}" alt="Image de {{sujet.title}}">
                {% endif %}
                <p>{{sujet.description | raw | nl2br}}</p>
            </div>
            <h4>Réponses :</h4>
            <div class="commentaires">
                {% if pagination.data %}
                    {% for commentaire in pagination.data %}
                    {% set dateCommentaire = commentaire.date %}
                    <div class="commentaire">
                        <h5>{{commentaire.username}} - {{dateCommentaire | date('d/m/Y à H:i:s')}}</h5>
                        <div class="buttons">
                            {# {% if app.user == commentaire.commentaire.user %}
                                <a href="" class="button">Modifier</a>
                            {% endif %} #}
                            {% if is_granted('ROLE_ADMIN') or app.user == commentaire.commentaire.user %}
                                <div class="buttonDelete deleteButtonUser button">Supprimer</div>
                                {% include "partials/deleteAlert.html.twig" with {'type':'','title': "Votre commentaire",'id':commentaire.id, 'route':'commentaire_delete'} %}
                            {% endif %}
                        </div>
                        <p>{{commentaire.commentaire.message | raw | nl2br}}</p>
                    </div>
                {% endfor %}
                {% else %}
                    <h6>Ce sujet n'a pas encore de réponses</h6>
                {% endif %}
            </div>
            {% if pagination.data %}
                 {{pagination.display}}
            {% endif %}
            <h4 id="commentaire">Votre commentaire :</h4>
            {# {{form_start(formCommentaire,{"action":path('forum_show',{"_fragment":"commentaire",'slug':sujet.slug}),"method":"POST"})}} #}
            {{form_start(formCommentaire)}}
                {{form_widget(formCommentaire)}}
                <button type="submit" class="boutonSubmit">Répondre</button>
            {{form_end(formCommentaire)}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Permet de remonter jusqu'en haut de la page
        const scrollTop = document.querySelector('.scrollTop')

        scrollTop.addEventListener('click',()=>{
            window.scrollTo({
                top:0,
                left:0,
                behavior: "smooth"
            })
        })
    </script>
{% endblock %}
